/* COMPONENTES GLOBALES */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #223da0;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-green: #187C18;
    --clr-background: rgba(240, 248, 255, 0.387);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.titulo-principal {
  color: var(--clr-main);
}


.numerito {
  background-color: var(--clr-gray);
  color: var(--clr-main);
  padding: .15rem .25rem;
  border-radius: .25rem;
}

footer{
  text-align: center;
}

.texto-footer {
  color: var(--clr-white);
  opacity: .7;

  font-size: .75rem;
  line-height: 3rem;
}



body {

  background: hsla(197, 74%, 43%, 1);
  background: linear-gradient(90deg, hsla(197, 74%, 43%, 1) 0%, hsla(27, 81%, 58%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(197, 74%, 43%, 1) 0%, hsla(27, 81%, 58%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(197, 74%, 43%, 1) 0%, hsla(27, 81%, 58%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1C90BF", endColorstr="#EB8A3D", GradientType=1);
}


.titulo-pagina{
  background-color: var(--clr-gray);
  border: 0;
  color: var(--clr-main);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#error-container{
  background-color: var(--clr-red);
  color: var(--clr-white);
  font-size: xx-large;
}

.boton-menu, .titulo-principal ,#linkMantenimiento{
  background-color: var(--clr-gray);
  border: 0;
  color: var(--clr-main);
  font-size: .85rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
}

.titulo-pagina p, .descripcion-proyecto ul{
  margin-bottom: 2rem;
}
.lista-entregables{
  align-self: self-start;
  justify-self:self-start;
  list-style:disc;
  list-style-position: inside;
}

.titulo-principal, #linkMantenimiento, #cerrarSesion{
  background-color: var(--clr-white);
}

.titulo-principal{
  border-top-left-radius: 1rem;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 100%;
  cursor:default;


}

.nombreConIcono i{
  margin-right: 5px;
}

#contenedor-productos, .contenedor-carrito , .contenedor-menu{
  background-color: var(--clr-gray);
  padding: 0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#contenedor-productos{
  background-color: var(--clr-background)
}
.contenedor-menu{
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

#linkMantenimiento, #cerrarSesion{
  cursor: pointer;
  height: 100%;
  font-size: 1.5rem;
  padding: 1.15rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; 
}

#cerrarSesion{
  font-size: 1.7rem;
  padding: .5rem;
  color: var(--clr-main);
  padding-right: 2rem;
}

#linkMantenimiento:hover, #cerrarSesion:hover{
  background-color: var(--clr-main-light);
  color: var(--clr-gray);
}



.boton-carrito-tienda, #boton-volver{
  border-top-right-radius: 1rem;
  width: 100%;
}
.boton-carrito-tienda{
  font-size: 1rem;
}
#boton-volver{
  font-size: 1.2rem;
}

.boton-menu{
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; 

}

.boton-menu:hover {
  background-color: var(--clr-main-light);
  color: var(--clr-gray);
}

.producto-agregar {
  border: 0;
  text-transform: uppercase;
  width: 100%;
  padding: 0.4rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid var(--clr-white);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; 

}

.producto-agregar:hover {
  background-color: var(--clr-main);
  color: var(--clr-white);
}



/* Estilizado productos */


.cardProducto{
  max-width: 18rem;
  margin: 20px;
  overflow: hidden;
}

.contenedor-producto-imagen{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
}
.card-img-top {
  width: 100rem;
}

.producto-imagen{
  overflow: hidden;
  transition: transform 0.2s ease-in-out; 
}

.producto-imagen:hover {
  transform: scale(1.25); 
}


.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 10px;
}


.descripcion-proyecto{
  background-color: var(--clr-background);
  }




/** CARRITO **/

.contenedor-carrito, #productos-almacenados  {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--clr-background);
  padding-top: .5rem;
}

.carrito-vacio,
.carrito-comprado {
  color: var(--clr-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-white);
  justify-content: center;
  margin-top: -.9rem;
  width: 100%;
  font-size: 1.5rem;
  gap: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

}

.volver-vacio{
  color: var(--clr-main);
  background-color: var(--clr-white);
  font-size: 1.5rem;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; 

}

.volver-vacio:hover {
  background-color: var(--clr-main-light);
  color: var(--clr-gray);
}

.carrito-productos{
  display: flex;
  flex-direction: column-reverse;
  gap: 1px;

}

.carrito-producto, .producto-almacenado{
  background-color: var(--clr-gray);
  color: var(--clr-main);
  padding: .5rem;
  border-radius: .5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: grid;
  grid-template-columns: .5fr 1.5fr .5fr 1fr 1fr 1fr .5fr;
  align-items: center;
}



.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out; 
}
.carrito-producto-imagen:hover {
  transform: scale(1.25); 
}

.carrito-producto small {
  font-size: .75rem;
}

.carrito-producto-cantidad, .carrito-producto-precio, .carrito-producto-subtotal, .carrito-producto-stock{
  display: grid;
  justify-items: center;
}

.carrito-producto-cantidad-input {
  max-width: 3.5rem;
  border: 1px solid var(--clr-main);
  color: var(--clr-main);
  border-radius: 5px;
  background: var(--clr-white);
  padding: 5px;
  text-align: right;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: var(--clr-red);
  cursor: pointer;
  font-size: 1.8rem;
  transition: transform 0.2s ease-in-out; 
}

.carrito-producto-eliminar:hover {
  transform: scale(1.75); 
}

.carrito-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito-acciones-vaciar, .carrito-footer-cantidad , .carrito-footer-total, .carrito-acciones-comprar{
  border: 0;
  background-color: var(--clr-gray);
  padding: 1rem;
  color: var(--clr-main);
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0;
}


.carrito-acciones-vaciar {
  border-bottom-left-radius: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; 

}

.carrito-acciones-vaciar:hover{
  background-color: var(--clr-red);
  color: var(--clr-gray);
}

.carrito-footer-der, .carrito-footer-izq {
  display: flex;

}

.carrito-footer-cantidad, .carrito-footer-total {
  display: flex;
  gap: .5rem;
  cursor:unset;
}


.carrito-acciones-comprar {
  background-color: var(--clr-main);
  color: var(--clr-white);
  border-bottom-right-radius: 1rem;
  transition: background-color 0.2s ease-in-out; 
}

.carrito-acciones-comprar:hover {
  background-color: var(--clr-green);
}

.disabled {
  display: none;
}

.noHayMas{
  background-color: var(--clr-gray);
}

.stock-cero{
  color: var(--clr-red);
}


.titulo-pagina {
  margin-top: 1rem;
  border-radius: 10% 50%;
	background-color:  linear-gradient(to bottom left, #f83600, #f9d423);
}



.modal-resumen-producto {
  background-color: var(--clr-gray);
  color: var(--clr-main);
  padding: .5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: grid;
  grid-template-columns: 2.5fr 1.5fr 2fr 1fr ;
  align-items: center;
}


.resumen-modal-encabezado, .mantencion-lista-encabezado {
  text-decoration: underline;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;


}

.modal-resumen-footer{
  border-top: 1px solid var(--clr-main-light);
}

.modal-resume-producto-total{
  font-weight: bold;
}

#descuentoAplicar{
  float: inline-end;
}

.modal-titulo-radio{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.medio-pago{
  color: var(--clr-main-light);
  font-size: 1.2rem;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
}


.mantencion-producto-almacenado, .mantencion-lista-encabezado{
  background-color: var(--clr-gray);
  color: var(--clr-main);
  padding: .5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 2fr 1fr 1fr ;
  align-items: center;
  justify-content: center;
}